USE [Hogstadiet]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 2026-05-25 16:11:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[TeacherId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 2026-05-25 16:11:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 2026-05-25 16:11:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[StaffId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[Grade] [varchar](1) NOT NULL,
	[GradeDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 2026-05-25 16:11:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[TitleId] [int] NOT NULL,
	[DepartmentId] [int] NULL,
	[HireDate] [date] NOT NULL,
	[Salary] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 2026-05-25 16:11:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [varchar](10) NOT NULL,
	[SocialSecurityNo] [varchar](13) NOT NULL,
	[ClassId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 2026-05-25 16:11:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Titles]    Script Date: 2026-05-25 16:11:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Titles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([Id], [Name], [TeacherId]) VALUES (1, N'7A', 2)
INSERT [dbo].[Classes] ([Id], [Name], [TeacherId]) VALUES (2, N'7B', 3)
INSERT [dbo].[Classes] ([Id], [Name], [TeacherId]) VALUES (3, N'8A', 4)
SET IDENTITY_INSERT [dbo].[Classes] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [Name]) VALUES (1, N'Matematik och Naturvetenskap')
INSERT [dbo].[Departments] ([Id], [Name]) VALUES (2, N'Språk och Humaniora')
INSERT [dbo].[Departments] ([Id], [Name]) VALUES (3, N'Idrott och Hälsa')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Grades] ON 

INSERT [dbo].[Grades] ([Id], [StudentId], [StaffId], [SubjectId], [Grade], [GradeDate]) VALUES (1, 1, 2, 1, N'A', CAST(N'2025-10-10' AS Date))
INSERT [dbo].[Grades] ([Id], [StudentId], [StaffId], [SubjectId], [Grade], [GradeDate]) VALUES (2, 2, 3, 2, N'B', CAST(N'2025-09-22' AS Date))
INSERT [dbo].[Grades] ([Id], [StudentId], [StaffId], [SubjectId], [Grade], [GradeDate]) VALUES (3, 3, 4, 3, N'C', CAST(N'2025-08-01' AS Date))
SET IDENTITY_INSERT [dbo].[Grades] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([Id], [FirstName], [LastName], [TitleId], [DepartmentId], [HireDate], [Salary]) VALUES (1, N'Lars', N'Eriksson', 1, 4, CAST(N'2010-08-15' AS Date), CAST(45000.00 AS Decimal(10, 2)))
INSERT [dbo].[Staff] ([Id], [FirstName], [LastName], [TitleId], [DepartmentId], [HireDate], [Salary]) VALUES (2, N'Anna', N'Lindgren', 2, 2, CAST(N'2015-01-10' AS Date), CAST(32000.00 AS Decimal(10, 2)))
INSERT [dbo].[Staff] ([Id], [FirstName], [LastName], [TitleId], [DepartmentId], [HireDate], [Salary]) VALUES (3, N'Erik', N'Bergström', 2, 1, CAST(N'2018-03-22' AS Date), CAST(32000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [FirstName], [LastName], [DateOfBirth], [Gender], [SocialSecurityNo], [ClassId]) VALUES (1, N'Maja', N'Andersson', CAST(N'2009-03-12' AS Date), N'Kvinna', N'200903121234', 1)
INSERT [dbo].[Students] ([Id], [FirstName], [LastName], [DateOfBirth], [Gender], [SocialSecurityNo], [ClassId]) VALUES (2, N'Liam', N'Bergman', CAST(N'2008-07-24' AS Date), N'Man', N'200807244321', 2)
INSERT [dbo].[Students] ([Id], [FirstName], [LastName], [DateOfBirth], [Gender], [SocialSecurityNo], [ClassId]) VALUES (3, N'Ella', N'Lindqvist', CAST(N'2009-11-05' AS Date), N'Kvinna', N'200911051111', 3)
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([Id], [Name]) VALUES (1, N'Matematik')
INSERT [dbo].[Subjects] ([Id], [Name]) VALUES (2, N'Naturvetenskap')
INSERT [dbo].[Subjects] ([Id], [Name]) VALUES (3, N'Historia')
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[Titles] ON 

INSERT [dbo].[Titles] ([Id], [Name]) VALUES (1, N'Rektor')
INSERT [dbo].[Titles] ([Id], [Name]) VALUES (2, N'Lärare')
INSERT [dbo].[Titles] ([Id], [Name]) VALUES (3, N'Administration')
SET IDENTITY_INSERT [dbo].[Titles] OFF
GO
ALTER TABLE [dbo].[Staff] ADD  DEFAULT (getdate()) FOR [HireDate]
GO
ALTER TABLE [dbo].[Staff] ADD  DEFAULT ((0)) FOR [Salary]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD FOREIGN KEY([TitleId])
REFERENCES [dbo].[Titles] ([Id])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[AddNewStudent]    Script Date: 2026-05-25 16:11:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddNewStudent]
    @FirstName VARCHAR(50),
    @LastName VARCHAR(50),
    @DateOfBirth DATE,
    @Gender VARCHAR(10),
    @SocialSecurityNo VARCHAR(13),
    @ClassId INT
AS
BEGIN
    INSERT INTO Students (FirstName, LastName, DateOfBirth, Gender, SocialSecurityNo, ClassId)
    VALUES (@FirstName, @LastName, @DateOfBirth, @Gender, @SocialSecurityNo, @ClassId)
END
GO
/****** Object:  StoredProcedure [dbo].[GetStudentById]    Script Date: 2026-05-25 16:11:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStudentById]
	@StudentId INT
AS
BEGIN
	SELECT s.FirstName,s.LastName, s.DateOfBirth, s.Gender, c.Name AS ClassName
	FROM Students s
	INNER JOIN Classes c ON s.ClassId = c.Id
	WHERE s.Id = @StudentId
END
GO
